[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  VITE_API_URL = "https://fortress-modeler-backend-pqiu2rcyqq-km.a.run.app"
  VITE_GOOGLE_CLIENT_ID = "928130924917-fcu6m854ua2ajutk3eu191okl4f29uqv.apps.googleusercontent.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200